.parent{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
}
.left{
width: 20%;
height: 100%;
background-color: black;
color: antiquewhite;
overflow: auto;
}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(154, 154, 194);
    overflow: auto;
}
